.DS_Store
*.swp
*.swo
# Terraform
**/.terraform/
**/.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
*.tfplan
*.tfvars
*.tfvars.backup
!**/example.tfvars
terraform/tf-logs/
TODO.md
ops/.scale-state-*.json
errored.tfstate
